<h2>Search</h2>
<div id="search-box">
	<input type="search" class="search-content search-content-js" />
	<button class="search-button search-button-js">Search</button>
	<div class="last-searches last-searches-js"></div>
</div>
<div class="all-search-result-js"></div>

<link rel="stylesheet" href="/static/css/search.css" />

<script src="/static/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/client.js"></script>
<script type="text/javascript" src="/static/js/search.js"></script>
