@{
	ViewBag.Title = "search";
}
	<link rel="stylesheet" href="/static/css/search.css" />
	<script src="/static/js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/static/js/search.js"></script>

	<h2>Search</h2>
	<div id="baseDiv">
		<!-- Every input tag that has a name will be sent to the server. index?search=tv -->
		<input type="search" list="last-searches" id="search-query" class="search-content"></input>
		<datalist id="last-searches" class="last-searches"></datalist>
		<button class="search-button-class" id="search-button">Search</button>
	</div>
	<div class="all-search-result" id="search-result"> </div>
