@{
	ViewBag.Title = "search";
}
	

	<h2>Search</h2>
	<div id="baseDiv">
		<input type="search" id="search-query" class="search-content-js class-2 class-3 " />
		<button class="search-button-class" id="search-button">Search</button>
		<div id="last-searches" class="last-searches"></div>
	</div>
	<div class="all-search-result" id="search-result"></div>

<link rel="stylesheet" href="/static/css/search.css" />

<script src="/static/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/search.js"></script>