@using NHibernate.Util
@model myWebApplication.Domain.SearchHistoryList
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchHistory</title>
</head>
<body>
<div>
	@foreach (var segment in Model.Histories)
	{
		<p>SearchTerm: @segment.SearchTerm</p>
	}
</div>
</body>
</html>
