@foreach (var product in Model)
{
	<div class="product-div">
		<a href="@product.ProductUrl" target="_blank">
			<div class="product-properties"> <img class="product-image" src="@product.ImageUrl" alt="">
				<span><br>Name: @product.Name</span>
				<span><br>Price: @product.Price</span>
			</div>
		</a>
	</div>
}
