@model myWebApplication.Domain.SearchHistoryList
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchHistory</title>
</head>
<body>
<div>
	<p>SearchTerm: @Model.SearchTerm</p>
</div>
</body>
</html>
